# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts

# production
build
dist
bin

# misc
.DS_Store
*.pem
fonts

# test
__test__

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.development
.env.test
.env.production
.env.staging

# vercel
.vercel
