# dependencies
node_modules
.next/
out/
next-env.d.ts
build

# local env files
.env
.env.development
.env.testing
.env.productions
.env.staging

# vercel
.vercel

# sitemap
public/sitemap*.xml
public/site.webmanifest
public/robots.txt
